@font-face {
  font-family: "iconfont"; /* Project id 2552404 */
  src: url('../fonts/iconfont.woff2?t=1626148002888') format('woff2'),
       url('../fonts/iconfont.woff?t=1626148002888') format('woff'),
       url('../fonts/iconfont.ttf?t=1626148002888') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-weixin:before {
  content: "\e7e5";
}

.e-qq:before {
  content: "\e6af";
}

.e-weibo:before {
  content: "\e7e4";
}

.e-fuwuqixinxi:before {
  content: "\e629";
}

.e-neirongtongji:before {
  content: "\e62a";
}

.e-kuaijiedaohang:before {
  content: "\e62b";
}

.e-tianjia:before {
  content: "\e62c";
}

.e-zhengdianmiaosha:before {
  content: "\e62d";
}

.e-xitongxinxi:before {
  content: "\e62e";
}

.e-youhuiquan:before {
  content: "\e62f";
}

.e-yincang:before {
  content: "\e638";
}

.e-zhengkai:before {
  content: "\e63a";
}

.e-yanzhengma:before {
  content: "\e623";
}

.e-mima:before {
  content: "\e630";
}

.e-yonghu:before {
  content: "\e603";
}

.e-shangcheng:before {
  content: "\e61f";
}

.e-seo:before {
  content: "\e659";
}

.e-qingli:before {
  content: "\e786";
}

.e-pc:before {
  content: "\e61b";
}

.e-tougao:before {
  content: "\e632";
}

.e-keshihuabianji:before {
  content: "\e69d";
}

.e-neirongwendang:before {
  content: "\e61a";
}

.e-chajian:before {
  content: "\e619";
}

.e-gerenzhongxin:before {
  content: "\e797";
}

.e-shezhi:before {
  content: "\e639";
}

.e-guanggao:before {
  content: "\e674";
}

.e-lanmuguanli:before {
  content: "\e683";
}

.e-caidangongneng:before {
  content: "\e785";
}

